<html>
    <head>
        <link rel="stylesheet" media="screen" href = "/static/bootstrap.min.css">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    </head>

    <body>
        <p> Test </p>
        <div id="my-chart"></div>
        <script type = "text/javascript" src = "/static/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>  
        <script type="text/javascript">
            new Highcharts.Chart({"series":[{"data":[[1462838400000,2158372.6420299998],[1462752000000,1438419.8610100001],[1462665600000,667993.263726],[1462579200000,1825474.7086099999],[1462492800000,1908047.6404200001], [1304985600000,228989.8988]],"name":"Value","yAxis":0}],"yAxis":[{}],"chart":{"renderTo":"my-chart"},"xAxis":{"type":"datetime","title":{"text":"Date"}},"legend":{"enabled":true}});
        </script>   
    </body>
</html>
